<div>
  <h2>My Users:</h2>

  <div *ngIf="userError?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>

  <ng-container>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Ad Monthly Budget</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of UserList; let i = index;">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.monthlyAdvertisingBudget}}</td>
          <td>{{user.phone}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
